# MySQL
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=sichi_db
MYSQL_USER=sichi_user
MYSQL_PASSWORD=changeme

# API
JWT_SECRET=change-this-secret-min-32-chars
ASPNETCORE_ENVIRONMENT=Development
CORS_ORIGINS=http://admin.sichi.com,http://player.sichi.com,http://localhost:4200
ADMIN_EMAIL=admin@sichi.com
ADMIN_PASSWORD=changeme

# DB connection string (usada en api)
DB_CONNECTION=Server=mysql;Port=3306;Database=sichi_db;User=sichi_user;Password=changeme;
